{% extends 'core/base.html' %}

{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Folder| Drive World</title>
    <link href="{% static 'css/createfolder.css' %}" rel="stylesheet">
</head>
<div class="new-folder-section">
    <form id="newFolderForm" method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form.name.label_tag }}
            {{ form.name }}
        </div>
        <input type="hidden" id="parent_folder_id" name="parent_folder_id" value="{% if folder %}{{ folder.id }}{% endif %}" />
        <button type="submit" class="submit-button" name="create_folder">Create Folder</button>
        {% if error %}
            <p class="error-message">{{ error }}</p>
        {% endif %}
    </form>
</div>
{% endblock %}