{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h2>Confirmar Exclusão de Pasta</h2>
    <p>Você está prestes a excluir a pasta: <strong>{{ folder.name }}</strong>.</p>
    <p>Esta ação é irreversível. Deseja continuar?</p>

    <form method="post" action="{% url 'foldermaster:delete_folder' folder.id %}">
        {% csrf_token %}
        <input type="submit" value="Confirmar Exclusão" class="btn btn-danger">
        {% if folder.parent %}
            <a href="{% url 'foldermaster:foldermanagement' folder.parent.id %}" class="btn btn-secondary">Cancelar</a>
        {% else %}
            <a href="{% url 'foldermaster:foldermanagement' %}" class="btn btn-secondary">Cancelar</a>
        {% endif %}
    </form>
</div>
{% endblock %}
