/* Reset de estilos básicos */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}

/* Container centralizado */
.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 50px auto;
    text-align: center;
}

.container h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.container p {
    font-size: 16px;
    color: #555;
}

.container p strong {
    color: #d9534f; /* Cor para destacar o nome da pasta */
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 5px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-danger {
    background-color: #d9534f;
    color: white;
    border: none;
}

.btn-danger:hover {
    background-color: #c9302c;
}

.btn-secondary {
    background-color: #6c757d;
    color: white;
    border: none;
}

.btn-secondary:hover {
    background-color: #5a6268;
}
