

body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.background-gray {
    background-color: #f0f0f0;
}

.flex-container {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.navbar {
    background-color: #007bff;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-left: -100px;
    width: 800px;
    height: 60px;
}

.navbar-list {
    list-style-type: none;
    padding: 0;
    display: flex;
}

.navbar-list li {
    margin-right: 10px;
}

.navbar-link {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 50px;
    transition: background-color 0.3s ease;
}

.navbar-link:hover {
    background-color: #0056b3;
}

.main-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    margin-left: -100px;
    width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.icon-file {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
}

.section-title {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

.breadcrumbs {
    margin-bottom: 20px;
}

.breadcrumb-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center;
    color: #007bff;
}

.breadcrumb-list li {
    margin-right: 5px;
}

.separator {
    color: #ccc;
    margin: 0 5px;
}

.root-folders-section,
.root-files-section {
    margin-bottom: 30px;
}

.folder-list {
    list-style-type: none;
    padding: 0;
}

.folder-item {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.folder-link {
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: center;
}

.folder-icon {
    margin-right: 10px;
    color: #007bff;
}



.file-list {
    list-style-type: none;
    padding: 0;
}

.file-item {
    margin-bottom: 10px;
    color: #555;
    display: flex;
    align-items: center;
}

.file-link {
    text-decoration: none;
    color: #007bff;
    transition: color 0.3s ease;
    margin-right: 10px; 
}

.file-link:hover {
    color: #0056b3;
}

.delete-file-form {
    margin-left: auto; 
}

.delete-file-btn {
    background-color: #f44336; 
    color: white; 
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.3s ease;
    margin-left: 10px; 
}

.delete-file-btn:hover {
    background-color: #d32f2f; 
}

.add-folder-container {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    margin: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

