{% extends 'core/base.html' %}

{% load static %}


{% block title %}Welcome{% endblock %}

{% block content %}
    <h1 class="title">Bem-vindo ao Drive World</h1>
    <p>

        Drive World é uma plataforma de armazenamento e 
        gerenciamento de arquivos projetada para simplificar 
        a sua vida digital. Com uma interface intuitiva e 
        poderosas ferramentas de organização, o Drive World 
        permite que você armazene,  acesse seus 
        arquivos de forma rápida e segura, onde quer que esteja.
    </p>
{% endblock %}

