{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<body>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
        <link href="{% static 'css/login.css' %}" rel="stylesheet">
        <title>Email Enviado | Drive World</title>
    </head>

    <div class="reset-password-container">
        <h1 class="reset-password-heading">Email Enviado</h1>
        <p>Enviamos um link para redefinir sua senha. Verifique sua caixa de entrada.</p>
    </div>
</body>
{% endblock %} 
