{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<body>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
        <link href="{% static 'css/login.css' %}" rel="stylesheet">
        <title>Change Password | Drive World</title>
    </head>
    <div class="reset-password-container">
        {% if validlink %}
            <h1 class="reset-password-heading">Change Password</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="reset-password-button">Redefinir Senha</button>
            </form>
        {% else %}
        <p>
            The password reset link was invalid, possibly because it has already been used.
            Please request a new password reset.
        </p>
        {% endif %}
    </div>
</body>
{% endblock %}
