{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<body>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
        <link href="{% static 'css/login.css' %}" rel="stylesheet">
        <title>Senha Redefinida | Drive World</title>
    </head>

    <div class="reset-password-container">
        <h1 class="reset-password-heading">Senha Redefinida com Sucesso</h1>
        <p>Sua senha foi redefinida com sucesso. Você pode agora <a href="{% url 'core:login' %}">entrar</a> com sua nova senha.</p>
    </div>
</body>
{% endblock %}
