{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="{% static 'css/login.css' %}" rel="stylesheet">
    <title>Forgot password | Drive World</title>
</head>

<body>
    <div class="reset-password-container">
        <h1 class="reset-password-heading">Forgot password</h1>
        <form method="post"> 
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="reset-password-button">Enviar</button>
        </form>
    </div>
</body>
{% endblock %}
