
{% load static %} 

{% block content %}

<!DOCTYPE html>
<html>
<head>
    <title>Reset de Senha</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/reset_password.css' %}">
</head>
<body>
    <div class="container">
        <h2>Reset de Senha</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Enviar</button>
        </form>
    </div>
</body>
</html>
{% endblock %}
